@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Bold.woff2') format('woff2'),
        url('Geometria-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Italic.woff2') format('woff2'),
        url('Geometria-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Light.woff2') format('woff2'),
        url('Geometria-Light.woff') format('woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Regular.woff2') format('woff2'),
        url('Geometria-Regular.woff') format('woff');
}



